[user]
	name = Đoàn Trần Công Danh
	email = congdanhqx@gmail.com

## Ediff merge tool.
## See:
##   http://kerneltrap.org/mailarchive/git/2007/7/1/250424
##   http://stackoverflow.com/questions/1817370/using-ediff-as-git-mergetool
[mergetool.ediff]
	cmd = emacs --eval \"\
	(progn\
	 (defun ediff-write-merge-buffer ()\
	  (let ((file ediff-merge-store-file))\
	   (set-buffer ediff-buffer-C)\
	   (write-region (point-min) (point-max) file)\
	   (message \\\"Merge buffer saved in: %s\\\" file)\
	   (set-buffer-modified-p nil)\
	   (sit-for 1)))\
	 (setq ediff-quit-hook 'kill-emacs ediff-quit-merge-hook\
	                       'ediff-write-merge-buffer)\
	 (ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\"\
	                                  \\\"$BASE\\\" nil \\\"$MERGED\\\"))\"

[merge]
	tool = ediff
[alias]
	st = status --short
	di = diff -M -p --stat
	diw = !git di -w
	diww = !git diw --word-diff=color
	diwwd = !git diww --word-diff-regex=.
	dc = !git di --cached
	dcw = !git diw --cached
	dcww = !git diww --cached
	dcwwd = !git diwwd --cached
	dcc = !git dc --check
	ci = commit
	cia = commit --amend --no-edit
	co = checkout
	ll = ls-files
	llm = ls-files -m
	lg = log --oneline --graph
	ss = show -s
	s = show -M -p --stat
	sw = !git s -w
	sww = !git sw --word-diff=color
	swwd = !git sww --word-diff-regex=.
	summary = show -s --date=short --pretty='format:commit %h, (\"%s\", %ad)'
	env = !env | grep ^GIT_
[rerere]
	enabled = true
	autoupdate = true
[pull]
	rebase = true
[push]
	default = upstream
[grep]
	lineNumber = true
[log]
	decorate = short
	abbrevCommit = true
[diff]
	colorMoved = true
[status]
	showStash = true
[mailinfo]
	scissors = true
