[user]
	name = Đoàn Trần Công Danh
	email = congdanhqx@gmail.com

[alias]
	st = status --short
	di = diff -M -p --stat
	diw = di -w
	diww = diw --word-diff=color
	diwwd = diww --word-diff-regex=.
	dc = di --cached
	dcw = diw --cached
	dcww = diww --cached
	dcwwd = diwwd --cached
	dcc = dc --check
	ci = commit
	cia = commit --amend --no-edit
	co = checkout
	ll = ls-files
	llm = ls-files -m
	lg = log --oneline --graph
	ss = show -s
	s = show -M -p --stat
	sw = s -w
	sww = sw --word-diff=color
	swwd = sww --word-diff-regex=.
	summary = show -s --date=short --pretty='format:commit %h, (\"%s\", %ad)'
	env = !env | grep ^GIT_
[rerere]
	enabled = true
	autoupdate = true
[pull]
	rebase = true
[push]
	default = upstream
[grep]
	lineNumber = true
[log]
	decorate = short
	abbrevCommit = true
[diff]
	colorMoved = true
[status]
	showStash = true
[mailinfo]
	scissors = true
[sendemail]
	smtpserver = smtp.gmail.com
	smtpencryption = ssl
	smtpuser = congdanhqx@gmail.com
	confirm = always
[credential]
	helper = pass
[index]
	recordEndOfIndexEntries = true
