#!/bin/sh

## Internet Browsers that needs X
for i in firefox chromium; do
	command -v $i >/dev/null 2>&1 && \
		BROWSER=$i && \
		export BROWSER && \
		break
done

## X resources
if test -f "$HOME/.Xresources" && command -v xrdb >/dev/null; then
	xrdb -merge "$HOME/.Xresources"
fi

## Disable Touchpad if exists
if command -v xinput >/dev/null; then
	for i in $(xinput list |
			sed -nE 's/^.*Touch[Pp]ad[[:space:]]+id=([[:digit:]]+).*$/\1/p'); do
		xinput disable "$i"
	done
fi

_JAVA_AWT_WM_NONREPARENTING=1
export _JAVA_AWT_WM_NONREPARENTING

# xmodmap - <<EOF
# remove Lock = Caps_Lock
# remove Control = Control_L
# keysym Control_L = Caps_Lock
# keysym Caps_Lock = Control_L
# add Lock = Caps_Lock
# add Control = Control_L
# remove mod4 = Hyper_L
# EOF
setxkbmap -option ctrl:swapcaps

## Turn off the bell
command -v xset >/dev/null && xset -b s 180 120

if command -v nitrogen >/dev/null 2>&1; then
	nitrogen --restore
else
	command -v xsetroot >/dev/null 2>&1 && xsetroot -solid "#282A36"
fi

command -v xdotool >/dev/null 2>&1 && xdotool mousemove 0 10000

## Hook, should the last one to be sourced
test -f ~/.xprofile_hook && . ~/.xprofile_hook
