#!/bin/sh

BROWSER=firefox
export BROWSER

## X resources
xrdb -merge "${XDG_CONFIG_HOME}/Xresources/config" || true

## Disable Touchpad if exists
if command -v xinput >/dev/null; then
	xinput --list |
		sed -nE 's/^.*Touch[Pp]ad[[:space:]]+id=([[:digit:]]+).*$/\1/p' |
		xargs -L 1 xinput --disable
fi

_JAVA_AWT_WM_NONREPARENTING=1
export _JAVA_AWT_WM_NONREPARENTING

if command -v fcitx >/dev/null; then
	GTK_IM_MODULE=fcitx
	QT_IM_MODULE=fcitx
	XMODIFIERS=@im=fcitx
	export GTK_IM_MODULE QT_IM_MODULE XMODIFIERS
	# fcitx
fi

# xmodmap - <<EOF
# remove Lock = Caps_Lock
# remove Control = Control_L
# keysym Control_L = Caps_Lock
# keysym Caps_Lock = Control_L
# add Lock = Caps_Lock
# add Control = Control_L
# remove mod4 = Hyper_L
# EOF

# here come the madness
# capslock will send:
# - escape when press-and-released
# - ctrl when press with other keys
setxkbmap -option ctrl:nocaps -option shift:both_capslock -option nbsp:level2
xcape -e 'Control_L=Escape'

## Turn off the bell
xset -b s 180 120

nitrogen --restore || xsetroot -solid "#1d2021" || true

xdotool mousemove 0 10000 || true

## Hook, should be the last one to be sourced
[ -f "${XDG_CONFIG_HOME}/sh/lxprofile" ] && . "${XDG_CONFIG_HOME}/sh/lxprofile"
