accels.scm
.arrived
aur
chromium
cmus
config/dconf/user
config/gtk-2.0/gtkfilechooser.ini
config/libreoffice/
config/transmission-daemon/
cron.sed
dconf
dotfiles/.emacs.d/places
dotfiles/.local/lib
dotfiles/.local/share/gem
dotfiles/.local/share/ranger
dotfiles/.local/share/Trash
dotfiles/.local/share/tridactyl
dotfiles/.local/share/zathura
elpa
*.errors
fcitx
*_fifo
fish
*-git/
gtk-2.0
*.hi
htop
jack
libreoffice
local-*
lprofile
lxprofile
mimeapps.list
msmtp
neofetch
.netrwhist
nitrogen
pavucontrol.ini
*.pem
pkg/
pulse
QtProject.conf
recent*
recentf
rtv
.sessions
supervise/
*.tar
url_hist
user-dirs.*
viminfo
VirtualBox
.w3m/
xmonad-x86_64-linux
