[submodule "dotfiles/.config/zsh/zsh-autosuggestions"]
	path = dotfiles/.config/zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "dotfiles/.config/zsh/zsh-history-substring-search"]
	path = dotfiles/.config/zsh/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "dotfiles/.config/zsh/zsh-syntax-highlighting"]
	path = dotfiles/.config/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "dotfiles/.config/zsh/grml"]
	path = dotfiles/.config/zsh/grml
	url = https://github.com/grml/grml-etc-core.git
