accels.scm
.arrived
aur
chromium
cmus
config/dconf/user
config/gtk-2.0/gtkfilechooser.ini
config/libreoffice/
config/transmission-daemon/
dconf
dotfiles/.emacs.d/places
dotfiles/.local
elpa
*.errors
fcitx
*_fifo
fish
*-git/
gtk-2.0
*.hi
htop
jack
libreoffice
local-*
lprofile
lxprofile
mimeapps.list
msmtp
neofetch
.netrwhist
nitrogen
pavucontrol.ini
*.pem
pkg/
pulse
recent*
recentf
rtv
.sessions
src/
supervise/
*.tar
url_hist
user-dirs.*
viminfo
xmonad-x86_64-linux
