[submodule "dotfiles/.emacs.d/theme"]
	path = dotfiles/.emacs.d/theme
	url = git@github.com:congdanhqx/emac-dracula-theme.git
[submodule "dotfiles/.config/zsh/zsh-autosuggestions"]
	path = external/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "dotfiles/.config/zsh/zsh-history-substring-search"]
	path = external/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "dotfiles/.config/zsh/zsh-syntax-highlighting"]
	path = external/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "external/grml"]
	path = external/grml
	url = https://github.com/grml/grml-etc-core.git
