98-bundle.zsh
accels.scm
aliases
authorized_keys
autostart
cef_user_data
chromium
cmus
cron.sed
dconf
dotfiles/.emacs.d/places
dotfiles/.local/lib
dotfiles/.local/share/gem
dotfiles/.local/share/ranger
dotfiles/.local/share/Trash
dotfiles/.local/share/tridactyl
dotfiles/.local/share/zathura
elpa
*.errors
fcitx
*_fifo
fish
glib-2.0
gtk-*
gvfs*
*.hi
htop
id_ed25519*
id_rsa*
jack
keybase
known_hosts
libfm
libreoffice
local\.*
lxsession
mimeapps.list
msmtp
muttrc2html
neofetch
.netrwhist
nitrogen
openbox
pavucontrol.ini
pcmanfm
*.pem
pkg/
pulse
QtProject.conf
recent*
rtv
.sessions
skypeforlinux
Steam
supervise/
*.sw?
*.tar
teamviewer
Thunar
url_hist
user-dirs.*
viminfo
VirtualBox
vitetris
vulkan
.w3m/
xfce4
Yubico
zoomus.conf
*.zw?
