#------------------------------------------------------------
# vim: syntax=muttrc
#------------------------------------------------------------

# Moving around
bind attach,browser,index       g   noop
bind attach,browser,index       gg  first-entry
bind attach,browser,index       G   last-entry
bind pager                      g   noop
bind pager                      gg  top
bind pager                      G   bottom
# bind pager                      k   previous-line
# bind pager                      j   next-line

# Scrolling
bind attach,browser,pager,index \CF next-page
bind attach,browser,pager,index \CB previous-page
bind attach,browser,pager,index \Cu half-up
bind attach,browser,pager,index \Cd half-down
bind browser,pager,index        \Ce next-line
bind browser,pager,index        \Cy previous-line

# bind pager,index                d   noop
# bind pager,index                dd  delete-message

# Mail & Reply
# bind index                      \Cm list-reply # Doesn't work currently
bind index,pager                r   group-reply
bind index,pager                R   reply

# Threads
bind browser,pager,index        N   search-opposite
# bind pager,index                DT  delete-thread
# bind pager,index                Dt  delete-subthread
bind pager,index                gt  next-thread
bind pager,index                gT  previous-thread
bind index                      za  collapse-thread
bind index                      zA  collapse-all # Missing :folddisable/foldenable

bind index,pager                ]]  next-unread
bind index,pager                [[  previous-unread

bind index,pager                A   create-alias
bind index,pager                <delete> purge-message
bind generic                    <f12> what-key
bind index,pager                s copy-message
bind index,pager                C save-message
bind index                      <Space> tag-entry

macro index,pager               a   "<decode-save>=archives<enter>"
macro index,pager               x   "<save-message>=spam<enter>"

macro index <F8> \
"<enter-command>set my_old_pipe_decode=\$pipe_decode my_old_wait_key=\$wait_key nopipe_decode nowait_key<enter>\
<shell-escape>notmuch-mutt -r --prompt search<enter>\
<change-folder-readonly>`echo ${XDG_CACHE_HOME:-$HOME/.cache}/notmuch/mutt/results`<enter>\
<enter-command>set pipe_decode=\$my_old_pipe_decode wait_key=\$my_old_wait_key<enter>" \
 "notmuch: search mail"

macro index <F9> \
"<enter-command>set my_old_pipe_decode=\$pipe_decode my_old_wait_key=\$wait_key nopipe_decode nowait_key<enter>\
<pipe-message>notmuch-mutt -r thread<enter>\
<change-folder-readonly>`echo ${XDG_CACHE_HOME:-$HOME/.cache}/notmuch/mutt/results`<enter>\
<enter-command>set pipe_decode=\$my_old_pipe_decode wait_key=\$my_old_wait_key<enter>" \
 "notmuch: reconstruct thread"

macro index <F6> \
"<enter-command>set my_old_pipe_decode=\$pipe_decode my_old_wait_key=\$wait_key nopipe_decode nowait_key<enter>\
<pipe-message>notmuch-mutt tag -- -inbox<enter>\
<enter-command>set pipe_decode=\$my_old_pipe_decode wait_key=\$my_old_wait_key<enter>" \
 "notmuch: remove message from inbox"
