# Depends on base16-shell color

## Base
color normal      color07  color00 # softer, bold

## Weak
color tilde       color08  color00  # `~` padding at the end of pager
color attachment  color07  color00
color tree        color08  color00  # arrow in threads
color signature   color03  color00
color markers     color08  color00  # `+` wrap indicator in pager

## Strong
color bold        color03  color00
color underline   color05  color00

## Highlight
color error       color01  color00
color message     color04  color00
color search      color08  color03
color status      color15  color08
color indicator   color15  color08  # inverse, brighter

## Quotation blocks
color quoted   color06  color00
color quoted1  color02  color00
color quoted2  color03  color00
color quoted3  color04  color00
color quoted4  color01  color00
color quoted5  color05  color00
color quoted6  color08  color00
color quoted7  color07  color00

# Message Index
color index  color07  color00  "~R"        # read messages
color index  color08  color00  "~d >45d"   # older than 45 days
color index  color07  color00  "~v~(!~N)"  # collapsed thread with no unread
color index  color14  color00  "~Q"        # messages that have been replied to

color index  color15  color00  "(~U|~N|~O)"        # unread, new, old messages
color index  color15  color00  "~v~(~U|~N|~O)"  # collapsed thread with unread

color index  color01  color00  "~E"  # past Expires: header date
color index  color01  color00  "~="  # duplicated
color index  color01  color00  "~S"  # marked by Supersedes: header

color index  color05  color00  "~F"       # flagged messages
color index  color05  color00  "~v~(~F)"  # collapsed thread with flagged inside

color index  color02  color06   "~T"  # tagged messages
color index  color01  color06   "~D"  # deleted messages

# Message Headers

# Base
color hdrdefault  color07  default
color header      color04  color00  "^(From)"
color header      color04  color00  "^(Subject)"

### Message Body -------------------------------------------------------
# *Bold* span
color body  color03  color00  '(^| )\*[a-zA-Z0-9]+([ _-]+[a-zA-Z0-9]+)*\*( |$)'
# _Underline_ span
color body  color04  color00  '(^| )_[a-zA-Z0-9]+([ _-]+[a-zA-Z0-9]+)*_( |$)'
# /Italic/ span (Sometimes gets directory names)
color body  color05  color00  '(^| )/[a-zA-Z0-9]+([ _-]+[a-zA-Z0-9]+)*/( |$)'
# URLs
color body  color04 color00 '[a-z][a-z0-9+-]*://[@;.,/%~_:?&=\#a-zA-Z0-9-]+'
color body  color04 color00 '(\(.*\))?(([a-z0-9!#$%&'"'"'`*+/=.?^_{|}~-]|\\ |\\@)+|"([^"]|\\")*")(\(.*\))?@[a-z0-9\.-]+'

# PGP
color body  color03  color01   "^gpg: BAD signature "
color body  color03  color02   "^gpg: Good signature "
color body  color15  color03   "^gpg: WARNING: This key has been revoked .*"
color body  color04  color00   "^gpg: "


# Patch
color   body    green           color00         '^\+.*'
color   body    red             color00         '^-.*'
color   body    cyan            color00         '^(Signed-off-by|Cc|Co-Authored-By|Tested-by|Reviewed-by): .+ <.+@.+>$'
color   body    yellow          color00         '^diff -[^[:space:]]+ [^[:space:]]+ [^[:space:]]+'
color   body    brightwhite     color00         '^index [0-9a-f]+.*\.\.[0-9a-f]+( [0-7]{6})?'
color   body    brightwhite     color00         '^(new|deleted) file mode [0-7]{6}'
color   body    brightwhite     color00         '^similarity index [0-9]+%$'
color   body    brightwhite     color00         '^rename (from|to) [^[:space:]]+$'
color   body    brightblue      color00         '^---$'
color   body    brightwhite     color00         '^--- [^[:space:]]+$'
color   body    brightwhite     color00         '^\+\+\+ [^[:space:]]+$'
color   body    cyan            color00         '^@@ -[0-9]+(,[0-9]+)? \+[0-9]+(,[0-9]+)? @@'
color   body    green           color00         'LGTM'

# vi: ft=muttrc
